*{
	box-sizing:border-box;
}
.welcome_box{
}
.choose_box{
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-radius: 10%;
}
.welcome_box form{
	border: 1px solid black;
	font-size: 15pt;
}
.welcome_box form input:required{
	border-top: 3px solid black;
}
#works_message{
	text-align: center;
	font-size: 10pt;
}
#contact_message{
	text-align: center;
	font-size: 10pt;
}
#about_message{
	text-align: center;
	font-size: 10pt;
}
#works_section{
	display: none;
}
#contact_section{
	display: none;
}
#about_section{
	display: none;
}